static/gen/*
static/.webassets-cache/
node_modules
*.py[cod]

settings_*.py
!settings_default.py
!settings_template.py

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
